@import url(../utils/palet_colors.css);

.c-button {
  background-color: var(--color-green-10);
  border-radius: 6px;
  border: none;
  color: var(--color-green-01);
  cursor: pointer;
  font-weight: 600;
  padding: .6rem 2rem;

  &:hover {
    background-color: var(--color-green-12);
  }
}