@import url(../utils/palet_colors.css);

.c-header {
  align-items: center;
  background-color: var(--color-green-10);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.c-header a {
  color: var(--color-green-01);
  font-family: Inter;
  font-weight: bold;
  padding: 1.5rem 3rem;
  text-decoration: none;
}

.c-header__coincare {
  font-size: 18pt;
}