<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metas</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/_main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <header class="c-header">
    <a href="#" class="c-header__coincare">CoinCare</a>
    <a href="#" class="c-header__logout">Sair</a>
  </header>

  <main class="main">
    <p class="main__text main__text--your-history">Suas metas</p>
    <div>
      <div class="c-card">
        <div class="c-card__header">
          <div class="c-card__info">
            <p class="c-card__title">Viagem</p>
            <span class="c-card__description">Viagem de fim de ano</span>
          </div>
          <div class="c-card__status">
            <p class="c-card__status-text">Em andamento</p>
          </div>
        </div>
        <div class="c-card__body">
          <div class="c-card__goal">
            <p class="c-card__goal-label">Objetivo</p>
            <p class="c-card__goal-amount">R$ 2.000,00</p>
          </div>
          <div class="c-card__target">
            <p class="c-card__target-label">Espero alcançar em</p>
            <p class="c-card__target-date">31/DEZ</p>
          </div>
          <div class="c-card__monthly">
            <p class="c-card__monthly-label">Ideal por mês</p>
            <p class="c-card__monthly-amount">R$ 180,00</p>
          </div>
        </div>
        <div class="c-card__footer">
          <button class="c-card__button c-card__button--delete">Excluir</button>
          <button class="c-card__button c-card__button--edit">Editar</button>
          <button class="c-button">Depositar</button>
        </div>
      </div>
    </div>
  </main>

  <footer class="c-footer">
    <p class="c-footer__text">
      © 2024 Coin Care. Todos os direitos reservados. | Política de Privacidade | Termos de Uso
    </p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>