<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metas</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/_main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <header class="c-header">
    <a href="#" class="c-header__coincare">CoinCare</a>
    <a href="#" class="c-header__logout">Sair</a>
  </header>

  <main class="content">
    <div class="content__header">
      <p class="content__text content__title">Suas metas</p>
      <button class="c-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+ Incluir</button>
    </div>
    <div id="card-wrapper"></div>
  </main>

  <footer class="c-footer">
    <p class="c-footer__text">
      © 2024 Coin Care. Todos os direitos reservados. | Política de Privacidade | Termos de Uso
    </p>
  </footer>

  <!-- Modal create -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Inclusão de nova meta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="descricao" class="col-form-label">Descrição:</label>
              <input type="text" class="form-control descricao" id="descricao" required>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="saldo-inicial" class="col-form-label">Saldo inicial:</label>
                <div class="input-group">
                  <span class="input-group-text">R$</span>
                  <input type="text" class="form-control" id="saldo-inicial" aria-label="Saldo inicial">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="meta" class="col-form-label">Meta:</label>
                <div class="input-group">
                  <span class="input-group-text">R$</span>
                  <input type="text" class="form-control" id="meta" aria-label="Saldo inicial">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="alcancar-em" class="col-form-label">Espero alcançar em:</label>
              <input type="date" class="form-control " id="alcancar-em">
            </div>
            <div class="mb-3">
              <label for="observacoes" class="col-form-label">Observações:</label>
              <textarea class="form-control" id="observacoes"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="c-button c-button-save" data-bs-dismiss="modal">Gravar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal edit -->
  <div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edição de meta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="descricao" class="col-form-label">Descrição:</label>
              <input type="text" class="form-control descricao" id="descricao" required>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="saldo-inicial" class="col-form-label">Saldo inicial:</label>
                <div class="input-group">
                  <span class="input-group-text">R$</span>
                  <input type="text" class="form-control" id="saldo-inicial" aria-label="Saldo inicial">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="meta" class="col-form-label">Meta:</label>
                <div class="input-group">
                  <span class="input-group-text">R$</span>
                  <input type="text" class="form-control" id="meta" aria-label="Saldo inicial">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="alcancar-em" class="col-form-label">Espero alcançar em:</label>
              <input type="date" class="form-control " id="alcancar-em">
            </div>
            <div class="mb-3">
              <label for="observacoes" class="col-form-label">Observações:</label>
              <textarea class="form-control" id="observacoes"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="c-button c-button-save" data-bs-dismiss="modal">Gravar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- Date FNS -->
  <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>

  <!-- Barra de progresso -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>

  <!-- Sweet Alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Script -->
  <script src="../js/metas.js"></script>
</body>

</html>