<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histórico de movimentações</title>

  <link rel="stylesheet" href="../css/_main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <header class="c-header">
    <a href="#" class="c-header__coincare">CoinCare</a>
    <a href="#" class="c-header__logout">Sair</a>
  </header>
  <footer class="c-footer">
    <p class="c-footer__text">© 2024 Coin Care. Todos os direitos reservados. | Política de Privacidade | Termos de Uso</p>
  </footer>
</body>

</html>