html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7FC396;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  color: #FFFFFF;
}

header nav a {
  margin-left: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart-container {
  width: 70%;
}


#title {
  text-align: center;
  font-size: 40px;
}

#resumoTotal {
  margin-left: 40px;
  padding: 12px;
  border-radius: 15px;
  background-color: #7FC396;
}

#picklistDiv {
  font-size: medium;
  padding-bottom: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
}

#tipoSelecao {

  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  color: #000000; 
  width: 100%;
  box-sizing: border-box; 
  cursor: pointer;
}

#resumoContainer {
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}

#detalhes{
  background-color: #FFFFFF;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: medium;
  color: #000000;
  font-weight: normal;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.popup {
  display: none;
  position: fixed;    
  left: 50%; 
  top: 10%; 
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  max-width: 300px;
  text-align: center;
  font-size: 16px;
}

.popup.success {
  background-color:#7FC396;
  color: #FFFFFF;
}

.popup.error {
  background-color:#E2504C;
  color: #FFFFFF;
}

.popup.info {
  background-color:#D4EAFE;
  color: #000000;
} 
